
<form class="form-inline my-2 my-lg-0" method="GET" action='{% url "tweet:list" %}'>
    <div class="form-group mb-1">
        <input class="form-control mr-sm-2" type="text" name="q" placeholder="Your Search" value='{{ request.GET.q }}' />
    </div>
    <input class ="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
</form>

<!--<form class="form-inline">-->
  <!--<div class="form-group mb-2">-->
    <!--<label for="staticEmail2" class="sr-only">Email</label>-->
    <!--<input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">-->
  <!--</div>-->
  <!--<div class="form-group mx-sm-3 mb-2">-->
    <!--<label for="inputPassword2" class="sr-only">Password</label>-->
    <!--<input type="password" class="form-control" id="inputPassword2" placeholder="Password">-->
  <!--</div>-->
  <!--<button type="submit" class="btn btn-primary mb-2">Confirm identity</button>-->
<!--</form>-->