{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-sm-3 pull-right" style="background-color:yellow;">
            <h1>{{ object.user }}</h1>
        </div>
        <div class="col-sm-9 pull-left">
        {{ object.content }}<br>
        {{ object.timestamp }} |
        {{ object.timestamp|timesince}} <br>
        </div>
    </div>
{% endblock content %}