
{% extends "base.html" %}
{% block title %} {{ block.super }} | List {% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-sm-8 col-sm-offset-2">
        {% for object in object_list %}
            <div class="media">
             {% if object.image %} <img class="mr-3" src="..." alt="Generic placeholder image"> {% endif %}
              <div class="media-body">
                <h5 class="mt-0">{{ object.content }} <br></h5>
                  via             {{ object.user }} | {{ object.timestamp|timesince}} ago | <a href="{{ object.get_absolute_url }}">View</a> <br><br>
              </div>
            </div>
            {% empty %}
            {% if request.GET.q %}
                <p>No tweets found in the search :(</p>
            {% else %}
            <p>No tweets yet :(</p>
            {% endif %}
        {% endfor %}
{% endblock content %}
        </div>
    </div>